body {
    padding: 10px;
    font-size: 14px;
}

.block {
    display: inline-block;
    margin: 0 10px;
}

.block__title {
    text-align: center;
    font-size: 1.5em;
}
/*================Block1===============*/
.block__1 {
    position: relative;
    padding: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    background: green;
}

.block1__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, -50%);
    width: 100px;
    background: white;
    border: 10px solid rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
}

/*===============Block2=================*/
/*Способ подходит для создания любого количества сплошных рамок*/
.block__2 {
    height: 120px;
    width: 120px;
    line-height: 120px;
    background: #d2d464;
}

.block2__inner {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: inset 0 0 0 10px #575757, inset 0 0 0 20px #ffb64c;
    background: wheat;
}

/*===============Block3=================*/
/*Способ подходит для создания 2 рамок*/
.block__3 {
    height: 120px;
    width: 120px;
    line-height: 120px;
}

.block3__inner {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    background: yellowgreen;
    border: 10px dashed #655;
    outline: 15px solid deeppink;
    outline-offset: -8px;
}

/*===============Block4=================*/
/*outline схоже со свойством border, только влияет на 4 стороны*/
.block__4 {
    padding: 1em;
    border-radius: .8em;
    background: tan;
    box-shadow: 0 0 0 .5em #655;
    outline: .6em solid #655;
}

/*===============Block 5/6/7/8/9/10 =================*/
/*Фон в полоску*/
.block__5 {
    width: 150px;
    height: 150px;
    background: linear-gradient(#fb3 40%, #58a 0);
    background-size: 100% 30px;
}

.block__6 {
    width: 150px;
    height: 150px;
    background: linear-gradient(#fb3 50%, #58a 50%);
    background-size: 100% 30px;
}

.block__7 {
    width: 150px;
    height: 150px;
    background: linear-gradient(#fb3 33%, #58a 0, #5588aa 66%, yellowgreen 0);
    background-size: 100% 30px;
}

.block__8 {
    width: 150px;
    height: 150px;
    background: linear-gradient(to right, #fb3 50%, #58a 0);
    background-size: 30px 100%;
}

.block__9 {
    width: 150px;
    height: 150px;
    background: repeating-linear-gradient(45deg, #fb3, #fb3 25%, #58a 0, #58a 50%);
    background-size: 42px 42px;
}
/*hsl - оттенок, насыщенность, светлота*/
.block__10 {
    width: 150px;
    height: 150px;
    background: #58a;
    background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px, transparent 0, transparent 30px);
}

/*===============Block 11/ =================*/
/*Сложные фоновые узоры*/
.block__11 {
    width: 150px;
    height: 150px;
    background: #fff;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
    background-size: 30px 30px;
}

.block__12 {
    width: 150px;
    height: 150px;
    background: #58a;
    background-image: linear-gradient(white 1px, transparent 0),
    linear-gradient(90deg, white 1px, transparent 0);
    background-size: 30px 30px;
}

.block__13 {
    width: 150px;
    height: 150px;
    background: #58a;
    background-image: linear-gradient(white 2px, transparent 0),
    linear-gradient(90deg, white 2px, transparent 0),
    linear-gradient(hsla(0,0%,100%,.3) 1px, transparent 0),
    linear-gradient(90deg, hsla(0,0%,100%,.3) 1px, transparent 0);
    background-size: 30px 30px;
}

.block__14 {
    width: 150px;
    height: 150px;
    background: #655;
    background-image: radial-gradient(tan 30%, transparent 0),
    radial-gradient(tan 30%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
}
/*шахматная доска с помощью градиентов*/
.block__15 {
    width: 150px;
    height: 150px;
    background: #eee;
    background-image: linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0,transparent 75%, rgba(0,0,0,.25) 0),
                        linear-gradient(45deg, rgba(0,0,0,.25) 25%, transparent 0,transparent 75%, rgba(0,0,0,.25) 0);

    background-position: 0 0, 15px 15px;
    background-size: 30px 30px;
}
/*шахматная доска с помощью svg*/
.block__16 {
    width: 150px;
    height: 150px;
    background: #eee url('data:image/svg+xml, \
    <svg xmlns="http://www.w3.org/2000/svg" \
    width="100" height="100" fill-opacity=".25"> \
    <rect x="50" width="50" height="50"/> \
    <rect y="50" width="50" height="50"/> \
    </svg>');
    background-size: 30px 30px;
}
/*псевдо(случайный) фон*/
.block__17 {
    width: 150px;
    height: 150px;
    background: hsl(20, 40%, 90%);
    background-image: linear-gradient(90deg, #fb3 11px, transparent 0),
                        linear-gradient(90deg, #ab4 23px,transparent 0),
                        linear-gradient(90deg, #655 41px,transparent 0);
    background-size: 41px 100%, 61px 100%, 83px 100%;
}

.block__18 {
    width: 150px;
    height: 150px;
    padding: 1em;
    border: 1em solid transparent;
    background: linear-gradient(white,white) padding-box,url('../img/stone-art.jpg') border-box 0 / cover;
}

@keyframes ants {
    to {
        background-position: 100%;
    }
}
.block__19 {
    width: 150px;
    height: 150px;
    padding: 1em;
    border: 1px solid transparent;
    background: linear-gradient(white,white) padding-box,
                repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / .6em .6em;
    animation: ants 12s linear infinite;
}

/*=================================================================
                                FIGURE
===================================================================*/

.block__20 {
    width: 200px;
    height: 100px;
    background: #ffb783;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
}

.block__21 {
    width: 200px;
    height: 100px;
    background: #ffb783;
    border-radius: 0 100% 100% 0 / 50%;
    line-height: 100px;
    text-align: center;
}

.block__22 {
    width: 200px;
    height: 100px;
    background: #ffb783;
    border-radius: 0 100% 0 0;
    line-height: 100px;
    text-align: center;
}

.block__23 {
    position: relative;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.block__23::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ffb783;
    transform: skew(45deg);
}

.block__24 {
    width: 200px;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: 1s clip-path;
}

.block__24:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/*
    2 способ block__24
    .picture {
         transform: rotate(45deg);
    }
    .picture > img {
        max-width: 100%;
        transform: rotate(-45deg) scale(1.42);
    }
*/

.block__25 {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffb783;
    background: linear-gradient(-45deg, transparent 15px, #ffb783 0);
}

.block__26 {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffb783;
    background: linear-gradient(-45deg, transparent 15px, #ffb783 0) right, linear-gradient(45deg, transparent 15px, #ffb783 0) left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.block__27 {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffb783;
    background: linear-gradient(135deg, transparent 15px, #ffb783 0) top left,
    linear-gradient(-135deg, transparent 15px, #ffb783 0) top right,
    linear-gradient(-45deg, transparent 15px, #ffb783 0) bottom right,
    linear-gradient(45deg, transparent 15px, #ffb783 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.block__28 {
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: #ffb783;
    background: radial-gradient(circle at top left, transparent 15px, #ffb783 0) top left,
    radial-gradient(circle at top right, transparent 15px, #ffb783 0) top right,
    radial-gradient(circle at bottom right, transparent 15px, #ffb783 0) bottom right,
    radial-gradient(circle at bottom left, transparent 15px, #ffb783 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}

.block__29 {
    position: relative;
    width: 150px;
    height: 100px;
    line-height: 150px;
    text-align: center;
}

.block__29::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #ffb783;
    transform: perspective(.5em) rotateX(5deg);
    transform-origin: bottom; /*попробуй bottom right или bottom left*/
    z-index: -1;
}

/*=================================================================
                                VISUAL EFFECTS
===================================================================*/

.block-effect {
    width: 100px;
    height: 100px;
    background: #52c3ff;
}

.block__30 {
    box-shadow: 0 5px 4px -4px black;
}

.block__31 {
    box-shadow: 3px 3px 6px -3px black;
}

.block__32 {
    box-shadow: 5px 0 5px -5px black,
                -5px 0 5px -5px black;
}

.block__33 {
    background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.4) 0) no-repeat 100% 0/2em 2em,
                linear-gradient(-135deg, transparent 1.5em, #52c3ff 0);
}

.block__34 {
    position: relative;
    background: linear-gradient(-150deg, transparent 1.5em, #52c3ff 0);
}

.block__34::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
    width: 1.73em;
    height: 3em;
    transform: translateY(-1.3em) rotate(-30deg);
    transform-origin: bottom right;
    border-bottom-left-radius: inherit;
    box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}